.title{
    color:green;
    text-align: center;
}

.filter{
    padding:14px;
    border-radius: 10px;
    background-color: rgb(196, 196, 205);
}

.passenger{
    padding:14px;
    border-radius: 10px;
    background-color: rgb(196, 196, 205);
}

img{
    cursor:pointer;
}

.image{
    transition:all 2s ease-in-out;
}
.image:hover{
    transform: scale(0.9);
}
